<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mafia_game">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameOverActivity" /> <!--게임 결과 나오는 액티비티-->
        <activity android:name=".Police12Activity" /> <!--경찰 - 12인 버전-->
        <activity android:name=".Police16Activity" /> <!--경찰 - 16인 버전-->
        <activity android:name=".Police20Activity" /> <!--경찰 - 20인 버전-->
        <activity android:name=".RuleExplain"></activity> <!--게임 규칙 설명해주는 프레그먼트사용 액티비티-->
    </application>

</manifest>